*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #874F42;
    margin: 0;
    padding: 0;
    margin: 0 20rem 0 20rem;
    height: 100vh;
}
.Header h1{
    font-size: 3rem;
    color: #874F42;
}
.Header p{
    font-size: 1.5rem;
    color: #874F42;
    margin-top: 1rem;
    text-align: center;
}